.todo{
    
    // justify-content: center;
    // align-content: center;
    
    position: relative;
    top: -150px;
    width: 50vw;
    height: 70vh;
    margin: 0 auto;
        display: flex;
        flex-direction: column;

    // .foot{
    //     background-color: yellow;
    //     height: 50vh;

    // }
    
}