.app {
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  
  .app > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ccc; /* Border between items */
  }
  
  .app span {
    margin-right: 20px; /* Add spacing between task name and delete button */
  }
  
  .app button {
    cursor: pointer;
    color: red; /* Set delete button color as desired */
    border: none;
    background: none;
  }